* {
    margin: 0;
    padding: 0;
}


body {
    background:#EEFFF7;}


h1 {
    font-size: 6em;
    color: rgba(97, 168, 36);
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 40.5%;
}

nav ul li{
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background: #2DFD9D;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 45%;
    box-shadow: 0px 5px 0px #26DA87;
    color: black;
    overflow: hidden;
}

main {
    margin: 10%;
}

li a {
    padding: 10px;
    display: inline-block;
}

section {
    text-align: center;
    line-height: 15px;
}

div img {
    border-radius: 50%;
    position: relative;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 5%;
}

div aside ul li {
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background: #2DFD9D;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 5px 0px #26DA87
}

li a {
    padding: 10px;
    display: inline-block;
}

div aside ul li:hover {
    background: #A5FFD6;
    box-shadow: 0px 2px 0px #26DA87

}

div nav ul li:hover {
    background: #A5FFD6;
    box-shadow: 0px 2px 0px #26DA87
}

div nav ul li:active {
    background: #EEFFF7;
    box-shadow: none;
}

div aside ul li:active {
    background: #EEFFF7;
    box-shadow: none;
}

div aside ul li :visited {
    color: black;
}

div nav ul li :visited {
    color: black;
}

footer {
    text-align: center;
    padding: 10px;
}


